body {
  margin: 0;
  background-color: #ffffff;
  color: #fff;
  overflow: hidden;
  background-image: url('images/Rohanb&w.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: #787777 rgba(0, 0, 0, 0.5);
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.6);
}

.down {
  background-color:   rgb(35 36 51);
  color:rgb(0, 0, 0);
}

.down > p {
  margin-top: 0px;
}

.navbar {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(10px);
}

.main-container::-webkit-scrollbar {
  width: 8px;
}

.main-container::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

.main-container::-webkit-scrollbar-thumb:hover {
  background: #252424;
}

.main-container::-webkit-scrollbar-track {
  background: #343333;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

.main-container {
  overflow-y: auto;
  height: 92vh;
  scrollbar-width: thin !important;
}

.container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  overflow-y: auto !important;
}

.frame {
  background-color: rgb(47, 48, 67);
  margin: 10px;
  width: 270px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s, filter 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  position: relative;
  overflow: hidden;
  /* Ensure overflow is hidden for smooth transition */
}

.frame:hover {
  border: 2px solid black;
}

.frame:hover .profile-pic {
  transform: scale(1.005);
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #555;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.para-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

p {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
}

.Lekh {
  background-image: url(images/Lekh.jpg);
  background-size: cover;
}

.Kriya {
  background-image: url(images/Kriya.jpg);
  background-size: cover;
}

.Rohan {
  background-image: url(images/Rohan.jpg);
  background-size: cover;
}

.Devansh {
  background-image: url(images/Devansh.jpg);
  background-size: cover;
}

.Arjun {
  background-image: url(images/Rohan.jpg);
  background-size: cover;
}

.Suyog {
  background-image: url(images/Suyog.jpg);
  background-size: cover;
}

.Jeet {
  background-image: url(images/Jeet.jpg);
  background-size: cover;
}

.Aishwarya {
  background-image: url(images/Aishwarya.jpg);
  background-size: cover;
}

.group-frame {
  width: 88%;
  height: 560px;
}

.group-pic {
  width: 99%;
  height: 500px;
  border-radius: 12px;
  background-color: #555;
  background-image: url(images/group.jpg);
  background-size: cover;
  margin-bottom: 15px;
}

.main-container::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

.main-container::-webkit-scrollbar-thumb {
  background: #ccc;
  /* Color of the scroll thumb */
  border-radius: 6px;
  /* Rounded corners for the scroll thumb */
  border: 3px solid #f1f1f1;
  /* Border color of the scroll thumb to match the track background */
}

.main-container::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  /* Color when hovering over the scroll thumb */
}

.main-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
  border-radius: 6px;
  /* Rounded corners for the scroll track */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for the track */
}

.container-img {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 8.2;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none;
  /* Hide scrollbar IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1.8px solid #cfcfcf;
  height: 0;
  font-size: 26px;
  margin-top: 10px;
  transition: height 0.5s ease;
  overflow: hidden;
}

.frame:hover .social-links {
  height: 39px;
}

.social-links>a {
  flex: 1;
  display: block;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.social-links>a:not(:last-child) {
  border-right: 1.8px solid #cfcfcf;
}

.frame:hover .social-links>a {
  opacity: 1;
}

.social-links .instagram {
  color: #ee5487;
  border-radius: 7px;
  transition: color 1s ease;
}

.social-links .instagram:hover {
  color: white;
  background-color: #ee5487;
}

.social-links .linkedin {
  color: #0077b5;
  border-radius: 7px;
  transition: color 1s ease;
}

.social-links .linkedin:hover {
  background-color: #0077b5;
  color: white;
}

.social-links .github {
  color: #282C34;
  border-radius: 7px;
  transition: color 1s ease;
}

.social-links .github:hover {
  background-color: #282C34;
  color: white;
}

.blur {
  filter: blur(5px);
}