html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color:white;
}
@font-face {
  font-family: 'CustomFont';
  src: url('fonts/CustomFont.woff2') format('woff2'),
       url('fonts/RomanFont.woff') format('woff'),
       url('fonts/CustomFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.canelafont{
  font-family: "CustomFont", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}
body {
  background-image: url('images/Rohanb&w.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.c-block__header .b-hero__title--large {
  font-size: 48px;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: -.1px;
  font-family: Canela Deck Web;
  font-weight: 400;
}
.navbar {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.55) !important;
  backdrop-filter: blur(10px);
}

.container {
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important;
  height: 92vh;
  max-width: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  overflow: hidden !important;
  overflow-y: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #787777 rgba(0, 0, 0, 0.5);
}

p {
  text-align: center;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.1);
}

.up h1 {
  color: white !important;
}

.instruments {

  display:flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 13px;
  
  
}
.instruments b{
  font-size: 45px;
  text-align: center;
  width:56%;
}
.design-line{
  width:50%;
  height:1px;
  background-color: white;
}

.about {
  display: flex;
  flex-direction: column;
  height: 29%;
  width: 100%;
  gap: 1px;
  color:white;
}

.content-container  {
  display: flex;
  align-self: center;
  gap:10px;
  flex:3;
  flex-direction: column;
  align-items: center;
  margin-right:100px;
 
}

.content-container b{
  font-size: 40px;
}

.aboutsection1,
.aboutsection2 {
  display: flex;

  height: 50%;
  width: 100%;
  padding: 20px;
  gap: 40px;
  position: relative;
}

.aboutsection1 p,
.aboutsection2 p {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
}

.aboutsection1 img,
.aboutsection2 img {
  width: 450px;
  flex:1;
  height: 400px;
  justify-self: flex-start;

}

.aboutsection2 {
  display: flex;
  flex-direction: row-reverse;
}

.down {
  height: 540%;
  display: flex;
  color:rgb(0, 0, 0);
  flex-direction: column;
  background-color:   rgb(35 36 51);
}

.down h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}



.search-bar-container {
  flex: 1;
  padding: 5px;
}





.OutputBox {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(58, 57, 57);

}

.webcamsection {
  display:flex;
  background-image:url(svgs/cameraoff.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  flex-direction: column;
  align-items: center;
  padding:5px;

  min-height: 670px;
  background-color: #333333;
  color:white;
  flex:1;
  gap: 10px;
}
#aibutton{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 100%;
  height: 100px;
}
.button-animation {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: grey; /* Default color */
  transition: background-color 0.5s ease-in-out;
}

.button-animation-animate::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: linear-gradient(to right, crimson, purple);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.button-animation-animate:hover::before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.button-animation span {
  position: relative;
  z-index: 1;
}

.item-button{
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background-color: grey; /* Default color */
}
.activate {
  background: linear-gradient(to right,rgb(15, 191, 203),rgb(20, 0, 101));
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color:Violet 

}

.item img {
  max-width: 60px;
  max-height: 60px;
}

.item:active {
  background-color: #e0e0e0;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-thumb {
  background: #313030;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #252424;
}

.container::-webkit-scrollbar-track {
  background: #343333;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.gauge-container {
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.gauge {
  height: 220px;
  width: 300px;
}

.gauge .dxg-range.dxg-background-range {
  fill: url(#gradientGauge);
}

.gauge .dxg-line {
  transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
}

.gauge .dxg-line path:first-child,
.gauge .dxg-line path:last-child {
  display: none;
}

.gauge .dxg-line path:nth-child(2),
.gauge .dxg-line path:nth-child(6) {
  stroke: #630f0f;
}

.gauge .dxg-line path:nth-child(3),
.gauge .dxg-line path:nth-child(5) {
  stroke: #1e1f1d;
}

.gauge .dxg-line path:nth-child(4) {
  stroke: #0a0a0a;
}

.gauge .dxg-elements text:first-child {
  transform: translate(19px, 13px);
}

.gauge .dxg-elements text:last-child {
  transform: translate(-27px, 14px);
}

.gauge .dxg-value-indicator path {
  transform: scale(1.2) translate(0, -5px);
  transform-origin: center center;
}

.gauge .dxg-value-indicator .dxg-title {
  text-transform: uppercase;
}

.gauge .dxg-value-indicator .dxg-title text:first-child {
  transform: translateY(5px);
}

.gauge .dxg-value-indicator .dxg-spindle-border:nth-child(4),
.gauge .dxg-value-indicator .dxg-spindle-hole:nth-child(5) {
  transform: translate(0, -109px);
}

.gauge .dxg-value-indicator .dxg-spindle-hole {
  fill: #141616;
}

.color-red {
  stop-color: #03044f;
}

.color-yellow {
  stop-color: #0e0795;
}

.color-green {
  stop-color: #0082fc;
}
.food-stats{
  display: flex;
  flex:1;
}


.left-stat {
  display: flex;
  flex-wrap: wrap;
  padding:20px;
  flex:1;
  background-color:#333333;
  gap:10px;
  align-items: center;
  justify-content: space-around;
}

.right-stat {
  display: flex;
  flex:1;
  border: 2px solid transparent; /* Set border width and style */
  border-image: linear-gradient(to right, purple, blue) 1; /* Apply the gradient */
  color:whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color:#333333;
}

.item-list-container{
  display: flex;
}
/* Media Queries for Smartphones */
@media (max-width: 600px) {
  body{
    background-position: center;
  }
  .navbar {
    font-size: 14px;
  }


  .instruments b{
    font-size: 20px;
  }
  .container{
    height:93vh;
  }
  .up {
    height: 90%;
  }
  .down{
    height: 950%;
  }

  .up h1 {
    font-size: 24px;
  }
 

  .instruments {
    font-size: 28px;
    padding: 8px;
  }

  .about {
    height: auto;
    gap:20px;
  }

  .aboutsection1,
  .aboutsection2 {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }

  .aboutsection1 img,
  .aboutsection2 img {
    width: 100%;
    height: auto;
  }

  .aboutsection1 p,
  .aboutsection2 p {
    width: 100%;
    font-size: 14px;
  }


  .OutputBox {
    display:flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  .item-list-container{
    flex-direction: column;
  }

  .gauge-container {
    flex-direction: column;
    align-items: center;
  }
  .content-container{
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0;
    width:75%;
  }
  .aboutsection2{
    gap:20px;
  }
  .content-container p {
    width: 100%;
    height: 300px;
}
.right-stat{
  min-height: 500px;
}
  .gauge {
    width: 100%;
    height: auto;
  }
  .food-stats{
    flex-direction: column;
    flex:1;
  }
}


